.dnd5e-theme-dark .dnd5e2.sheet.actor.character .sheet-header{
    background: transparent url(https://i.pinimg.com/736x/b6/0a/db/b60adbbbbadfe675ab64fba4d8917be6.jpg) no-repeat center / cover;
}
.dnd5e-theme-dark .dnd5e2.sheet.actor.character .sheet-body{
		background: transparent url(https://wallpapers-clan.com/wp-content/uploads/2023/09/tanjiro-kamado-flame-black-background.jpg) no-repeat center / cover;
}