
.dnd5e-theme-dark .dnd5e2.sheet.actor.character .sheet-header{
    background: transparent url(https://images6.alphacoders.com/132/1326238.png) no-repeat center / cover;
}
.dnd5e-theme-dark .dnd5e2.sheet.actor.character .sheet-body{
		background: transparent url(https://wallpapers-clan.com/wp-content/uploads/2023/09/tanjiro-kamado-flame-black-background.jpg) no-repeat center / cover;
}

.dnd5e-theme-light .dnd5e2.sheet.actor.character .sheet-header{
    background: transparent url(https://images6.alphacoders.com/132/1326238.png) no-repeat center / cover;
}
.dnd5e-theme-light .dnd5e2.sheet.actor.character .sheet-body{
		background: transparent url(https://wallpapers.com/images/hd/demon-slayer-black-and-white-zn8627o0qagnwh31.jpg) no-repeat center / cover;
}



.dnd5e2.sheet.actor.character .sheet-body .sidebar .favorites > ul li:first-of-type img{
    content: url(../../../icons/magic/symbols/symbol-lightning-bolt.webp);
}

:is(.dnd5e2, .dnd5e2-journal) :is(i, span).currency.iene {
    background-image: url(https://cdn-icons-png.freepik.com/512/8467/8467570.png);
}
