
.dnd5e-theme-dark .dnd5e2.sheet.actor.character .sheet-header{
    background: transparent url(../media/ficha/cabecalhoHashiraHandbook.png) no-repeat center / cover;
}
.dnd5e-theme-dark .dnd5e2.sheet.actor.character .sheet-body{
		background: transparent url(../media/ficha/darkmodeFicha.jpg) no-repeat center / cover;
}

.dnd5e-theme-light .dnd5e2.sheet.actor.character .sheet-header{
    background: transparent url(../media/ficha/cabecalhoHashiraHandbook.png) no-repeat center / cover;
}
.dnd5e-theme-light .dnd5e2.sheet.actor.character .sheet-body{
		background: transparent url(../media/ficha/lightmodeFicha.jpg) no-repeat center / cover;
}



.dnd5e2.sheet.actor.character .sheet-body .sidebar .favorites > ul li:first-of-type img{
    content: url(../../../icons/magic/symbols/symbol-lightning-bolt.webp);
}
.dnd5e2.sheet.actor.character .sheet-body .sidebar .favorites > ul li:nth-last-child(2)  .gold-icon{
    content: url(../media/Demoncorp.jpg);
}

:is(.dnd5e2, .dnd5e2-journal) :is(i, span).currency.iene {
    background-image: url(https://cdn-icons-png.freepik.com/512/8467/8467570.png);
}
